<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Zeltlager" Publisher="CN=Sebi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Zeltlager</DisplayName>
    <PublisherDisplayName>Sebi</PublisherDisplayName>
    <Logo>Assets/icon-50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Zeltlager.Windows.App">
      <m2:VisualElements DisplayName="Zeltlager" Square150x150Logo="Assets/icon-150x150.png" Square30x30Logo="Assets/icon-30x30.png" Description="Zeltlager" ForegroundText="light" BackgroundColor="#0fb9de">
        <m2:DefaultTile ShortName="Zeltlager">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets/icon-620x300.png" BackgroundColor="#0fb9de" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>